<section class="inicio">
    <div class="container-inicio">
        <div class="left-wrapper">
            <div class="text-section">
                <div class="title">
                    <h1>Conheça o<br>Isaac <span>Vasconcelos</span> !</h1>
                    <h3>Trazendo esperança e transformação para o povo de Aracoiaba.</h3>
                </div>
                <div class="subtext">
                    <p>
                        Como empresário bem-sucedido e líder comunitário, Isaac traz consigo uma visão renovada para a política local, com o compromisso de romper com as práticas da velha política e promover um futuro mais justo e próspero para todos os aracoiabenses.
                    </p>
                </div>
            </div>
            <div class="redirection">
                <app-redirect-button
                    locale="#sobre"
                    text="Saiba Mais"
                >

                </app-redirect-button>
            </div>
        </div>
        <div class="right-section">
            <div class="background">
                <div class="img">
                    <img [ngSrc]="criancasImg" width="630" height="620" priority="">
                </div>
            </div>
        </div>
    </div>
</section>
