<app-header></app-header>
<app-inicio id="inicio"></app-inicio>
<app-sobre id="sobre"></app-sobre>
<!-- <app-activities></app-activities> -->
<!-- <app-voluntario></app-voluntario> -->
<app-recomendacoes id="recomendacoes"></app-recomendacoes>
<app-bandeiras id="bandeiras"></app-bandeiras>
<a href="https://www.instagram.com/isaacvasconcelosbr/" target="_blank">
  <img src="../assets/images/imgInsta.png" alt="">
</a>
<div class="address">
  <p>CNPJ: 56.506.977/0001-30</p>
</div>
<!-- <app-perguntas-frequentes></app-perguntas-frequentes> -->
