<section class="sobre">
    
    <div class="container-sobre">
        <app-highlight-panel
            imageUrl="../../../assets/images/img1.jpg"
            preTitle="Sua História"
            title="Um trabalhador íntegro"
            subtext="Filho de Clovim e Silvana, Isaac cresceu em uma família que sempre valorizou o trabalho duro e a integridade. Ao lado de sua esposa, Gaby Vasconcelos, e dos filhos Bento, Belle e Isaac Filho, ele entende a importância de construir um Aracoiaba onde as famílias possam prosperar com dignidade, segurança e oportunidades."
        >
        </app-highlight-panel>
        <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/img2.jpg"
            preTitle="Espírito Comunitário"
            title="Um homem que ouve a voz do povo"
            subtext="Acredita que a verdadeira mudança começa ao lado do povo, ouvindo suas necessidades e construindo juntos um futuro melhor para todos. Sua maior referência é seu amigo, compadre e cunhado, Helberlh Mota, que transformou Baturité. Com honestidade, compromisso genuíno, trará novas oportunidades ao povo aracoiabense. "
        >
        </app-highlight-panel>
        <app-highlight-panel
            imageUrl="../../../assets/images/img3.jpg"
            preTitle="Em busca de um futuro melhor"
            title="Juntos para uma Aracoiaba melhor!"
            subtext="Para entender uma cidade é importante conhecer a alma de seu povo. 
            Em Aracoiaba, cada história contada revela um pouco mais sobre nossas tradições. É ouvindo as necessidades de cada morador que podemos construir um futuro melhor. Um diálogo aberto e constante é essencial para promover as mudanças que todos queremos ver. Nosso compromisso é com cada cidadão, buscando sempre o melhor para a cidade. "
        >
        </app-highlight-panel>
        <!-- <app-highlight-panel
            imagePosition="left"
            imageUrl="../../../assets/images/atividades4.jpeg"
            preTitle="o presente e o futuro"
            title="Uma Caucaia Melhor !"
            subtext="Já no primeiro mandato, garantiu seu espaço ao compor a Mesa Diretora da 31ª Legislatura do Estado do Ceará. Atualmente, é a Presidente do Diretório do PSDB em Caucaia e a Vice-Presidente do PSDB Mulher do Ceará. Para os próximos quatros anos, Emilia Pessoa aponta para uma gestão pensada para as famílias de Caucaia, com foco na segurança, educação e na saúde da cidade, além da atuação e participação ativa da população em seu governo."
        >
        </app-highlight-panel> -->
        
    </div>
</section>
