@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$primary-color:  #eebd2c;
$secondary-color:  #00a25e;
$try-color: #3b68a1;
$quadri-color:  #d04a29;


